{% extends 'main/basic.html' %}
{% block 'head' %}
<title>Find All links from a Website | TermiX</title>
{% endblock 'head' %}
{% block 'body' %}
<div class="row">
    <div class="coloumn">
        <br />
        <h1 class="text-warning">Find All links from a Website</h1>
        <br />
        <form>
            {% csrf_token %}
            <div class="form-group">
              <label for="formGroupExampleInput">Enter Website Path include "http"</label>
              <input type="text" class="form-control" name="path" placeholder="Enter absolute path of directory where you want to apply operation">
            </div>
                <br />
            </form>
                <button type="submit" id="check-btn" class="btn btn-primary"> Find Links</button>
            <ol class="text text-success" id="show-links">

            </ol>  
              
            
    </div>
</div>

{% endblock 'body' %}

{% block 'script' %}
<script>
    jQuery("#check-btn").click(()=>{

        path = $('input[name=path]').val();
        // alert(path);


       
        function showw(value,index,array)
        {
            $('div[class=form-group]').hide();
            $('button').hide();
            var links = "<li><a class=' mb-1' href=" + value + " >" + value + "</a></li><br />";
            $('ol[id=show-links]').append(links);
        }
    $.ajax({
            url:"find-all-api",
            type:"POST",
            dataType:"json",
            data:{
                path:path,
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(data){
                var z = data['links'];
                z.forEach(showw);
                
            },  
           
        });
    }
    );

</script>
{% endblock 'script' %}    